@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* --main-background: hsl(222, 26%, 31%);
--toggle-keypad-background: hsl(223, 31%, 20%);
--screen-background: hsl(224, 36%, 15%);

--key-background-del-reset: hsl(225, 21%, 49%);
--key-shadow-del-reset: hsl(224, 28%, 35%);

--key-background: hsl(30, 25%, 89%);
--key-shadow: hsl(28, 16%, 65%);

--key-background-equal: hsl(6, 63%, 50%);
--key-shadow-equal: hsl(6, 70%, 34%);

--text-dark: hsl(221, 14%, 31%);
--text-light: hsl(0, 0%, 100%);
--text-weight: 700; */

* {
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: var(--main-background);
    color: var(--text-light);
}

.calculator {
    max-width: 500px;
    margin: auto;
    margin-top: 8em;
    padding: 1em;
}

.calculator-top {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.calculator-top > div {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    text-transform: uppercase;
}

.calculator-theme {
    display: grid;
    grid-template-columns: 5px repeat(3, 20px) 5px;
    grid-template-rows: auto 30px;
    grid-template-areas: 
    ". n1 n2 n3 ."
    ". b1 b2 b3 .";
    gap: 3px;
    
}

.theme-legend {
    grid-area: 1 / 0 / 1 / 1;
    margin-bottom: 5px;
}

.calculator-theme > * {
    margin: 0;
    padding: 0;
    
}

.calculator-theme label {
    
    text-align: center;
    justify-self: stretch;
}

label::after, label::before {
    content: "";
}

.calculator-theme input {
    /* ...existing styles */
    display: grid;
    place-content: center;
    appearance: none;
  }

.calculator-theme input::before {
    /* opacity: 0%;
    box-shadow: 1px 1px rgba(181, 44, 44, 100%);
    appearance: none; */
    
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 20px 20px var(--key-background-equal);
}

.calculator-theme input:checked::before{
    transform: scale(2);
    
  }


.n1 {
    grid-area: 1 / 2 / 2 / 3;
}

.n2 {
    grid-area: 1 / 3 / 2 / 4;
}

.n3 {
    grid-area: 1 / 4 / 2 / 5;
}


.b1 {
    grid-area: 2 / 2 / 3 / 2;
}

.b2 {
    grid-area: 2 / 3 / 2 / 4;
}

.b3 {
    grid-area: 2 / 4 / 2 / 5;
}

.theme-background {
    grid-area: 2 / 1 / 3 / 6;
     background-color: var(--toggle-keypad-background);
    border-radius: 20px;
    z-index: -1;
}

.calculator-body p, .calculator-body .calculator-buttons > *, .calculator-buttons {
    border-radius: 10px;
}

.calculator-body > p {
    text-align: right;
    background-color: var(--screen-background);
    padding: 25px 20px 15px;
    font-size: 52px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 3em);
    gap: 1em;
    padding: 1em;
    background-color: var(--toggle-keypad-background);
}

.calculator-buttons > *, input {
    cursor: pointer;
}

.calculator-buttons > * {
    font-size: 2em;
    line-height: 1.75;
    border: none;
    box-shadow: 0px 5px var(--key-shadow);
    text-transform: uppercase;
    background-color: var(--key-background);
}

.span-2 {
    grid-column-start: span 2;
}

.accent {
    background-color: var(--key-background-del-reset);
    color: var(--text-light);
    box-shadow: 0px 5px var(--key-shadow-del-reset);
}

.s-accent {
    background-color: var(--key-background-equal);
    color: var(--text-light);
    box-shadow: 0px 5px var(--key-shadow-equal);
}