*, ::after, ::before {
    box-sizing: border-box;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--text-weight);
    background: var(--main-background);
}

#calculator {
    max-width: 100%;
    
}

@media (width > 375px)
{
    #calculator {
        width: 80%;
        max-width: 640px;
        margin: 100px auto;
    }
}


#calculator > * {
    padding: 15px;
}

#calculator-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--text-light);
    
}

#theme-selector {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

#calculator-inputs, #theme-selector-choices {
    background: var(--toggle-keypad-background);
}

#theme-selector-choices {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   
   background-color: var(--main-background);
   
}

.theme-choice {
    
    width: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--key-background);
}

label {
    background-color: var(--main-background);
    flex-grow: 1;
    width: 100%;
    
    
}

.radio-btn {
    width: 20px;
    height: 20px;
}

.radio-btn:checked {
    
    visibility: visible;
}



#calculator-interface {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#calculator-inputs > *, #calculator-screen {
    font-size: 32px;
    font-weight: 700;
}

#calculator-screen {
    background: var(--screen-background);
    border: none;
    text-align: right;
    padding: 20px;
    color:var(--text-light);
    border-radius: 10px;
}

#calculator-inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

#button-reset {
    grid-area: 5 / 1 / 6 / 3;
}

#button-equal {
    grid-area: 5 / 3 / 6 / 5
}

.calculator-button {
    border-radius: 5px;
    border: none;
    background-color: var(--key-background);
    box-shadow: 0px 5px var(--key-shadow);
    font-size: 32px;
    color: var(--text-dark);
}

#button-del, #button-reset {
    background-color: var(--key-background-del-reset);
    box-shadow: 0px 5px var(--key-shadow-del-reset);
    color: var(--text-light);
}

#button-equal {
    background-color: var(--key-background-equal);
    box-shadow: 0px 5px var(--key-shadow-equal);
    color: var(--text-light);
}

.calculator-button:hover {
    cursor: pointer;
    filter: brightness(150%);
}
